h1 {
    text-align: center;
    line-height: 1.5;
    font-weight: normal;
}

h2, h3 {
    font-weight: normal;
}

.link_summary {
    font-weight: 600;
    color: #990000;
    transition: 0.3s;
}

.link_summary:hover, .link_h2:hover {
    color: #0099FF;
}

.link_h2 {
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

.text {
    width: 100%;
    margin: auto;
}

.avatar {
    border-radius: 100%;
    border: 2px solid black;
    box-shadow: 0 0 20px #666666;
    height: 100px;
    width: 100px;
}

.margin_for_h3 {
    margin: 10px 0px 10px 20px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.margin_for_h2 {
    margin: 10px 10px 10px 3px;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.margin_avatar {
    display: inline-block;
    vertical-align: middle;
}


